
.root {
    -fx-background-color: #ffffff;
}

.text-field {
    -fx-background-color: white;
    -fx-text-fill: blue;
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-border-color: blue;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.check-box {
    -fx-text-fill: blue;
    -fx-font-size: 14px;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
    -fx-background-color: white;
}

.button {
    -fx-background-color: blue;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-color: #003366;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: white;
}

.button:pressed {
    -fx-background-color: blue;
}
